/* - - - - - - - - - Kopfzeile - - - - - - - - - */


header {
    background-color: rgba(142, 209, 252, 1.0);
    color: rgba(6, 147, 227, 1.0);
    padding: 15px;
    text-align: center;
}


/*Buttons*/
.btn {
    font-size: 20px !important; /*Größe der Schrift */
    margin-top: 40px; /* Platz oben */
    margin-left: 40px; /*Platz links*/
    background-color: rgba(142, 209, 252, 1.0) !important;
    color: rgba(6, 147, 227, 1.0) !important;
    width: 200px; /* Breite des Buttons */
    height: 150px; /*Höhe des Buttons*/
}


.container {
    margin-left: 70px !important; /* Abstand links */
    margin-right: 25px !important; /* Abstand rechts */
    margin-bottom: 40px !important; /*Abstand unten*/
}


header a {
    text-decoration: none;
}

header h1 {
    color:  rgba(6, 147, 227, 1.0)
}

.flexContainer {
    display: flex;
    margin-left: 20px;
  }

.containerInformations {
    flex: 4;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
  
.containerImage {
  flex: 1;
  margin-top: 20px;
}

.image {
    height: auto;
    width: 300px;
}

/* Profiles */

#container-Profile {
    text-align: center; /* Center the content horizontally */
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}